<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <title>Expedients</title>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        .form-group label {
            width: 150px;
            margin-right: 10px;
        }
        .form-group input {
            flex: 1;
        }
        .photo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .photo-container img {
            width: 150px;
            height: 170px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }
        .fa-file-pdf {
            font-size: 30px;
            margin-right: 20px;
        }
        .upload_file_field {
            margin-right: 20px;
        }
        .hidden {
            display: none;
        }
        .modal-dialog {
            max-width: 80%;
            margin: 1.75rem auto;
        }
        .modal-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #video {
            max-width: 100%;
            max-height: 70vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="mx-auto" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="">
                <a href="/logout/" class="btn btn-primary btn-sm" style="float: right; border-radius: 5px; text-decoration: none; margin-left: 10px;">Logout</a>
                <a href="/show_database/" class="btn btn-secondary btn-sm" style="float: right; border-radius: 5px; text-decoration: none">Show Data</a>
            </div>
            <div>
                <h1><a href="/"><img src="/static/assets/Logo.jpeg" alt="Logo" style="height: 50px; width: 50px; margin-right: 50px;"></a>New Registration</h1>
            </div>
        </div>
        <div class="">
            {% if error %}
                <div style="color: black;" class="alert alert-danger alert-dismissible mx-auto" role="alert">
                    {{ error }}
                    <span style="float: right; cursor: pointer; font-size: 20px;" aria-hidden="true" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endif %}
            {% if message %}
                <div style="color: black;" class="alert alert-success alert-dismissible mx-auto" role="alert">
                    {{ message }}
                    <span style="float: right; cursor: pointer; font-size: 20px;" aria-hidden="true" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endif %}
        </div>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="numero_tarjeta" class="form-label">Numero Tarjeta:</label>
                        <input type="number" class="form-control" id="numero_tarjeta" name="numero_tarjeta" required>
                        <label for="dni" class="form-label" style="padding-left: 20px;">DNI:</label>
                        <input type="text" class="form-control" id="dni" name="dni" required>
                    </div>

                    <div class="form-group">
                        <label for="f_nacimiento" class="form-label">F. Nacimiento:</label>
                        <input type="date" class="form-control" id="f_nacimiento" name="f_nacimiento" required>
                        <label for="telefono" class="form-label" style="padding-left: 20px;">Telefono:</label>
                        <input type="number" class="form-control" id="telefono" name="telefono" placeholder="+7910000000" required>
                    </div>

                    <div class="form-group">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                        <label for="email" class="form-label" style="padding-left: 20px;">E-mail:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="apellidos" class="form-label">Apellidos:</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="form-label">Direccion:</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>

                    <div class="form-group">
                        <label for="fecha_expedicion" class="form-label">Fecha Expedició:</label>
                        <input type="date" class="form-control" id="fecha_expedicion" name="fecha_expedicion" required>
                        <label for="fecha_caducidad" class="form-label" style="padding-left: 20px;">Fecha Caducidad:</label>
                        <input type="date" class="form-control" id="fecha_caducidad" name="fecha_caducidad" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Cert. Empadronamiento:</label>
                        <span id="cert_empadronamiento_icon" class="hidden"><i class="fas fa-file-pdf"></i></span>
                        <button type="button" class="btn btn-secondary upload-file-button" onclick="document.getElementById('cert_empadronamiento_upload').click();">Adjuntar</button>
                        <input type="file" class="form-control upload_file_field hidden" id="cert_empadronamiento_upload" name="cert_empadronamiento" accept="application/pdf" required>
                        <button type="button" class="btn btn-secondary" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#cameraModal" onclick="prepareCamera('cert_empadronamiento_upload')">Escanear</button>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Cert. Ingresos:</label>
                        <span id="cert_ingresos_icon" class="hidden"><i class="fas fa-file-pdf"></i></span>
                        <button type="button" class="btn btn-secondary upload-file-button" onclick="document.getElementById('cert_ingresos_upload').click();">Adjuntar</button>
                        <input type="file" class="form-control upload_file_field hidden" id="cert_ingresos_upload" name="cert_ingresos" accept="application/pdf" required>
                        <button type="button" class="btn btn-secondary" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#cameraModal" onclick="prepareCamera('cert_ingresos_upload')">Escanear</button>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Acreditación:</label>
                        <span id="acreditacion_icon" class="hidden"><i class="fas fa-file-pdf"></i></span>
                        <button type="button" class="btn btn-secondary upload-file-button" onclick="document.getElementById('acreditacion_upload').click();">Adjuntar</button>
                        <input type="file" class="form-control upload_file_field hidden" id="acreditacion_upload" name="acreditacion" accept="application/pdf" required>
                        <button type="button" class="btn btn-secondary" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#cameraModal" onclick="prepareCamera('acreditacion_upload')">Escanear</button>
                    </div>
                </div>

                <div class="col-md-4 photo-container mx-auto my-auto">
                    <img src="" alt="Foto" id="foto">
                    <button type="button" class="btn btn-secondary btn-sm" style="margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#cameraModal" onclick="prepareCamera('profile_image')">Take Picture</button>
                    <label for="foto_upload" class="btn btn-secondary btn-sm">Upload Foto</label>
                    <input type="file" id="foto_upload" name="foto" style="display: none;" required>
                </div>
            </div>
            <div style="padding-top: 20px;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <!-- Camera Modal -->
    <div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="cameraModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cameraModalLabel">Take a Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <video id="video" autoplay></video>
                    <button type="button" class="btn btn-primary mt-3" onclick="takePicture()">Capture</button>
                    <canvas id="canvas" class="d-none"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const errorAlerts = document.querySelectorAll(".alert-danger");
            const successAlerts = document.querySelectorAll(".alert-success");

            errorAlerts.forEach(function (errorAlert) {
                setTimeout(function () {
                    errorAlert.style.display = "none";
                }, 2000);
            });

            successAlerts.forEach(function (successAlert) {
                setTimeout(function () {
                    successAlert.style.display = "none";
                }, 2000);
            });
        });

        document.getElementById('foto_upload').addEventListener('change', function(event) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('foto').src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        });

        function prepareCamera(inputId) {
            window.currentInputId = inputId;
            startCamera();
        }

        function startCamera() {
            const video = document.getElementById('video');
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                }).catch(function (error) {
                    console.error("Error accessing camera: ", error);
                });
            }
        }

        function takePicture() {
            const canvas = document.getElementById('canvas');
            const video = document.getElementById('video');
            const context = canvas.getContext('2d');

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            const imageDataURL = canvas.toDataURL('image/png');

            stopCamera();

            if (window.currentInputId === 'profile_image') {
                document.getElementById('foto').src = imageDataURL;
                document.getElementById('foto_upload').value = ''; // Clear the file input
            } else {
                createPDF(imageDataURL, window.currentInputId);
            }
        }

        function stopCamera() {
            const video = document.getElementById('video');
            const stream = video.srcObject;
            if (stream) {
                const tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
            }
            video.srcObject = null;
        }

        function createPDF(imageDataURL, inputId) {
            if (typeof PDFLib !== 'undefined') {
                PDFLib.PDFDocument.create().then(doc => {
                    const base64String = imageDataURL.split(',')[1];
                    const bytes = window.atob(base64String);
                    const arrayBuffer = new ArrayBuffer(bytes.length);
                    const uint8Array = new Uint8Array(arrayBuffer);

                    for (let i = 0; i < bytes.length; i++) {
                        uint8Array[i] = bytes.charCodeAt(i);
                    }

                    doc.embedPng(uint8Array).then(imageRef => {
                        const page = doc.addPage([imageRef.width, imageRef.height]);
                        page.drawImage(imageRef, {
                            x: 0,
                            y: 0,
                            width: imageRef.width,
                            height: imageRef.height
                        });

                        doc.save().then(pdfBytes => {
                            const file = new File([pdfBytes], inputId + ".pdf", { type: "application/pdf" });
                            const dataTransfer = new DataTransfer();
                            dataTransfer.items.add(file);
                            const inputElement = document.getElementById(inputId);
                            inputElement.files = dataTransfer.files;
                            document.getElementById(inputId + '_icon').classList.remove('hidden');

                            const cameraModal = bootstrap.Modal.getInstance(document.getElementById('cameraModal'));
                            cameraModal.hide();
                        });
                    }).catch(error => {
                        console.error("Error embedding image into PDF: ", error);
                    });
                }).catch(error => {
                    console.error("Error creating PDF document: ", error);
                });
            } else {
                console.error("PDFLib is not defined or not loaded.");
            }
        }

        document.querySelectorAll('.upload_file_field').forEach(function(inputField) {
            inputField.addEventListener('change', function(event) {
                const fileName = event.target.files[0].name;
                const inputId = event.target.id.replace('_upload', '');

                const uploadButton = inputField.parentElement.querySelector('.upload-file-button');
                uploadButton.textContent = fileName;

                const pdfIcon = inputField.parentElement.querySelector('#' + inputId + '_icon');
                if (pdfIcon) {
                    pdfIcon.classList.remove('hidden');
                }
            })
        })

        const cameraModal = document.getElementById('cameraModal');
        cameraModal.addEventListener('hidden.bs.modal', stopCamera);
    </script>

</body>
</html>
